@page
@model TurAppen.Pages.LoginModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Lag bruker</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"> </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="loginViewModel.Email">Email</label>
                    <input type="text" asp-for="loginViewModel.Email" class="form-control" />
                    <span asp-validation-for="loginViewModel.Email" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="loginViewModel.Password">Passord</label>
                    <input type="password" asp-for="loginViewModel.Password" class="form-control" />
                    <span asp-validation-for="loginViewModel.Password" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="loginViewModel.StaySignedIn">Forbli innlogget?</label>
                    <input type="checkbox" asp-for="loginViewModel.StaySignedIn" class="form-control" />
                    <span asp-validation-for="loginViewModel.StaySignedIn" class="text-danger" />
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Logg inn</button>
                </div>

            </form>
        </div>
    </div>
</div>